
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import 'recipe-theme';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($recipe-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($recipe-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-weight: 300; 
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.mat-flat-button.mat-accent {
  transition: all 0.4s;
  &:hover {
    color: #fff;
  }
}

.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

rcp-login-form {
  .mat-card-title {
    color: mat-color($accent, 800);
  }
  input.mat-input-element {
    color: mat-color($accent, 900);
  }
  .mat-form-field-appearance-legacy {
    .mat-form-field-label {
      color: rgba(mat-color($primary, 600), 0.54);
    }
    .mat-form-field-underline {
      background-color: rgba(mat-color($primary, 600), 0.42);
    }

  }

  .mat-card:not([class*='mat-elevation-z']) {
    @include mat-elevation(6, mat-color($primary, 800), 0.9);
    &:hover {
      @include mat-elevation(8, mat-color($primary), 1.2);
    }
  }
  .loginError {
    background-color: mat-color($warn, 300);
  }
}

rcp-logout-confirmation-dialog {
  .mat-dialog-title {
    color: mat-color($accent, 800);
  }
}

