
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import 'recipe-theme';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($recipe-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($recipe-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  overflow-x: hidden;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-weight: 300; 
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.content-wrapper {
  padding: 3.5vw 0 2vw;
}

a {
  position: relative;
  color: mat-color($accent, 800);
  text-decoration: none;
  font-weight: 400;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    border-bottom: 1px dotted transparent;
    transition: all 0.3s;
  }
  &:hover:not(.mat-mini-fab) {
    text-decoration: none;
    color: mat-color($accent, 800);
    &::after {
      border-bottom: 1px dotted mat-color($accent, 800);
    }
  }
}

.fw-400 {
  font-weight: 400;
}

.mat-tooltip {
  font-size: 12px;
}

.list-numbered-markers {
  margin: 0;
  padding: 0;
  list-style-type: none; 
  > li {
    position: relative;
    padding: 3px 0 0 40px;
    margin: 0;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: mat-color($accent, 800);
      color: #fff;
      font-weight: 400;
      text-align: center;
      line-height: 30px;
    }
  }
}


.list-numbered-markers {
	counter-reset: list1;
  > li {
    &:before {
      counter-increment: list1;
      content: counter(list1) "";
    }
  }
}
      
.mat-flat-button.mat-accent {
  transition: all 0.4s;
  &:hover {
    color: #fff;
  }
}

.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-card:not([class*='mat-elevation-z']) {
  @include mat-elevation(6, mat-color($primary, 800), 0.9);
  &:hover {
    @include mat-elevation(8, mat-color($primary), 1.2);
  }
}

.mat-toolbar-single-row {
  @include mat-elevation(6, mat-color($primary, 800), 0.5);
}

.mat-nav-list {
  .mat-list-item {
    div.mat-list-item-content {
      padding: 0;
    }
    &.mat-list-item-with-avatar {
      div.mat-list-item-content {
        .mat-list-text {
          padding-left: 8px;
        }
      }
    }
  }
  .mat-list-text {
    a {
      color: #000;
      transition: all 0.4s;
      &.active {
        color: mat-color($accent);
        &::after {
          right: 0;
          border-bottom: 1px dotted mat-color($accent);
        }
      }
      &::after {
        right: 100%;
      }
      &:hover {
        color: mat-color($accent);
        &::after {
          right: 0;
        }
      }
    }
  }
} 

rcp-login-form, rcp-filter {
  .mat-card-title {
    color: mat-color($accent, 800);
  }
  input.mat-input-element {
    color: mat-color($accent, 900);
  }
  .mat-form-field-appearance-legacy {
    .mat-form-field-label {
      color: rgba(mat-color($primary, 600), 0.54);
    }
    .mat-form-field-underline {
      background-color: rgba(mat-color($primary, 600), 0.42);
    }

  }

  .mat-card:not([class*='mat-elevation-z']) {
    @include mat-elevation(6, mat-color($primary, 800), 0.9);
    &:hover {
      @include mat-elevation(8, mat-color($primary), 1.2);
    }
  }
  .loginError {
    background-color: mat-color($warn, 300);
  }
}

rcp-logout-confirmation-dialog {
  .mat-dialog-title {
    color: mat-color($accent, 800);
  }
}

.ingredient-wrapper, .step-wrapper {
  .heading {
    border-top: 1px dashed mat-color($accent, 800);
    & > span {
      background-color: mat-color($accent, 800);
    }
  }
} 

.breadcrump {
  display: flex;
  flex-flow: row;
  &-item {
    position: relative;
    &:not(:last-child) {
      padding-right: 0.7em;
      margin-right: 0.3em;
      &:after {
        content: '/';
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.recipe-item-header {
  time {
    color: mat-color($primary, 800)
  }
}

.recipe-item-body {
  .mat-table {
    max-width: 600px;
    min-width: 400px;
    thead {
      tr {
        &:first-child {
          background-color: mat-color($accent, 50);
        }
      }
    }
    tbody {
      tr { 
        transition: background-color 0.3s;
        &:nth-child(even) {
          background-color: mat-color($accent, 100);
        }
        &:hover {
          background-color: mat-color($accent, 400);
        }
      }
    }
    @include mat-elevation(6, mat-color($primary, 800), 0.9);
  }
}

.recipe-preview-card {
  .mat-card-header-text {
    margin: 0;
    width: 100%;
  }
}

.mat-paginator {
  margin: 30px 0;
  border-top: 1px solid rgba(mat-color($primary), 0.3);
  border-bottom: 1px solid rgba(mat-color($primary), 0.3);
  font-size: 1em;
  &-page-size {
    .mat-select-trigger {
      font-size: 1em;
    }
  
  }
  &-page-size-label { 
    color: #000;
    + div {
      // font-weight: 400;
      color: #000;
    }
  }
  &-range-label {
    color: #000;
  }
} 


@media screen and (max-width: 600px) {
  .mat-h1 {
    font-size: 1.8em;
    line-height: 1.1;
  }
  .mat-h2 {
    font-size: 1.5em;
  }

  .recipe-item-body {
    .mat-table {
      min-width: 0;
      // max-width: 400px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1500px) {
  .content-wrapper {
    padding: 50px 0 30px;
  }
}