.open-sidenav-btn-wrapper {
  margin-top: 4vw;
}
.container {
  min-height: 100%;
  height: 1px;
}
mat-sidenav {
  width: 330px;
}

.mat-drawer {
  border-right: 0px solid #000;
  background-color: transparent;
  &-container {
    height: 100%;
    background-color: transparent;
  }
}

@media screen and (max-width: 959px) {
  .mat-drawer {
    border-left: 15px solid #fff;
    margin-left: -15px;
    background-color: #fff;
    &-container {
      overflow: visible;
    }
    &-backdrop {
      right: -15px;
    }
  }

  mat-sidenav {
    width: 280px;
  }
}
@media screen and (max-width: 479px) {
  .open-sidenav-btn-wrapper {
    margin-top: 20px;
  }
}